<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Purchase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="text-align:center;">Продажа</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>№</th>
                      <th>Дата и время</th>
                      <th>Номер кассы</th>
                      <th>ФИО фармацевта</th>
                      <th>Общая сумма покупки</th>
                      <th>Наименование товара</th>
                      <th>Количество</th>
                      <th>Стоимость товара</th>
                      <th>Итоговая стоимость</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
</body>
</html>