<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Продажы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 style="text-align">
        <a href="{% url 'product' %}">Лекарственные товары</a>
        <a href="{% url 'product2' %}">Нелекарственные товары</a>
    </h1>
</div>
<div class="container">
    <h1>Форма по добавлению продажи</h1>
    <form method="post">
        {% csrf_token %}
        {{ pform.date_and_time }}<br>
        {{ pform.till_number }}<br>
        {{ pform.pharmacist }}<br>
        {{ pform.amount }}<br>
        <button class="btn btn-success" type="submit">Добавить продажу</button><br><br>
    </form>
    <h1>Форма по добавлению позиции продажи</h1>
    <form method="post">
        {% csrf_token %}
        {{ iform.product }}<br>
        {{ iform.purchase }}<br>
        {{ iform.quantity }}<br>
        {{ iform.amount }}<br>
        <button class="btn btn-success" type="submit">Добавить позицию</button>
    </form>
</div>
<div class="container">
    <h1 style="text-align:center;">Продажа</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Дата и время</th>
            <th>Номер кассы</th>
            <th>ФИО фармацевта</th>
            <th>Общая сумма покупки</th>
            <th>Наименование товара</th>
            <th>Количество</th>
            <th>Стоимость товара</th>
            <th>Итоговая стоимость</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
            {% for purchase_item in purchase_items %}
                <tr>
                    <th>{{purchase_item.purchase.id}}</th>
                    <th>{{purchase_item.purchase.date_and_time}}</th>
                    <th>{{purchase_item.purchase.till_number}}</th>
                    <th>{{purchase_item.purchase.pharmacist}}</th>
                    <th>{{purchase_item.purchase.amount}}</th>
                    <th>{% if purchase_item.product.medicated_product.name %}
                        {{purchase_item.product.medicated_product.name}}
                        {% else %}
                        {{purchase_item.product.non_medicated_product.name}}
                        {% endif %}
                    </th>
                    <th>{{purchase_item.quantity}}</th>
                    <th>{{purchase_item.product.cost}}</th>
                    <th>{{purchase_item.amount}}</th>
                    <th>
                        <a href="{% url 'purchase-update' purchase_item.purchase.id %}">Редактировать продажу</a><br>
                        <a href="{% url 'purchase-delete' purchase_item.purchase.id %}">Удалить продажу</a><br>
                        <a href="{% url 'purchase-item-update' purchase_item.id %}">Редактировать позицию</a><br>
                        <a href="{% url 'purchase-item-delete' purchase_item.id %}">Удалить позицию</a><br>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>