<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="text-align:center;">Лекарства</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>№</th>
                      <th>Наименование</th>
                      <th>Производитель</th>
                      <th>Фармакологическая группа</th>
                      <th>Лекарственная форма</th>
                      <th>Дозировка</th>
                      <th>Количество в упаковке</th>
                      <th>Условия отпуска</th>
                      <th>Описание</th>
                      <th>Дата производства</th>
                      <th>Срок годности</th>
                      <th>Стоимость</th>
                      <th>Количество</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
    <div class="container">
        <h1 style="text-align:center;">Нелекарственный товар</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>№</th>
                      <th>Наименование</th>
                      <th>Производитель</th>
                      <th>Категория</th>
                      <th>Количество в упаковке</th>
                      <th>Дата производства</th>
                      <th>Срок годности</th>
                      <th>Срок гарантии</th>
                      <th>Стоимость</th>
                      <th>Количество</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
</body>
</html>